
.categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    margin-top: 200px;
    transition: transform 0.6s ease-in-out
}

.category-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.category-button {
    margin: 15px;
    display: block;
    width: calc(50% - 30px);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    background-color: #f4a460;
    background-blend-mode: overlay;
    transition: transform 0.6s ease-in-out;
}

.category-button-text {
    position: relative;
    z-index: 1;
}
.category-button:hover {
    transform: scale(1.1);
}
